
/*Availability*/	

.section-availability {
  background-color: #fff;
}

.container-availability {
	width: 1024px;
  height: 780px;
	margin: 0 auto;
}

.availability{
	color: #0094FF;

	padding-top: 18px;	
}

.availability-title h3{
	font-family: "Baloo Chettan 2", cursive;
	font-style: normal;
	font-weight: 700;
	font-size: 37px;
	line-height: 52px;
	text-align: center;
}

.avability-main{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 70px;

	margin-top: 62px;
}

.availability-main-navidation-right, .availability-main-navidation-left{
	margin-top: 4px;
}

.icon-arrow-left, .icon-arrow-right{
  width: 57px;
	fill: #0094FF;
}

.icon-arrow-left:hover, .icon-arrow-right:hover{ 
	fill: #0DF9F9;
}

.availability-cards{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 11px;
	line-height: 17px;
}

.availability-cards img:hover{
	box-shadow: 0 0 30px 15px rgba(0,0,0,0.2);
	border-radius: 10px;
}

.availability-cards-top, .availability-cards-bottom{
	display: flex;
	gap: 45px;
}

.availability-card{
	width: 198px;
	height: 251px;
}

.availability-card-title{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 17px;
	color: #0094FF;

	margin-top: 4px;
}

.availability-cards-bottom{
	margin-top: 59px;
}
