/*Secondpage*/

.container-headerr{
	width: 1024px;
	height: 1000px;
}

.header-backk {
  background-color: #0DF9F9;
	height: 1000px;

}

.cost {
	text-align: right;
	padding: 27px 36px 20px 0;
}

.total-cost{
	padding: 0 0 0 32px;
} 


.calc__menu{
	margin: 35px 0 30px 23px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.calc{
	margin-bottom: 100px;
}


.calc__menu h4, .container p, .style, .cost {
  text-decoration: none;
  color: #fff;
  font-family: "Baloo Chettan 2", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 19px;

	transition: color 0.25 linear;
}

.container {
	padding: 13px 24px 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container__inputs {
	padding: 0 4px 0 0px;
	width: 206px;
	display: flex;
	gap: 0;
	align-items: center;
	justify-content: flex-end;
}

.container__button {
	width: 40px;
	height: 40px;
	background: #018CF2;
	border-radius: 5px;
	margin: 0;
}


.container__input {
	background: rgba(174, 187, 198, 0.6);
	border-radius: 5px;
	text-align: center;
	padding: 3px 0;
	width: 66px;
	margin: 0;
}

.container__total-price {
	width: 181px;
	text-align: center;
	padding: 0px 5px 2px 0px;
}

@media (max-width: 768px) {
	.calc {
			margin: 23px auto 41px auto;
	}
	.calc__container {
			max-width: 746px;
	}
 .frog{
	height: 450px;
 }
	.calc__menu {
		margin-left: 13px;
	}
	.calc__title {
			font-size: 20px;
			line-height: 24px;
	}
	.calc__title-1{
			width: 231px;
			padding: 0;
	}
	.calc__title-2{
			width: 121px;
			
	}
	.calc__title-3{
			width: 159px;
			padding: 0;
			text-align: center;
	}
	.calc__title-4{
			width: 114px;
			padding: 0;
			text-align: center;
	}
	.container {
			padding: 8px 15px 0 13px;
	}
	.style{
			font-style: normal;
			font-weight: 500;
			font-size: 28px;
			line-height: 34px;
			color: #000000;
	}
	.container__title {
			padding: 0 0 0 4px;
			width: 271px;
			font-size: 24px;
			line-height: 29px;
	}
	.container__price {
			padding: 0px 0px 0px 8px;
			width: 88px;
			font-size: 24px;
			line-height: 29px;
	}
	.container__inputs {
			padding: 0px 0px 0 2px;
			width: 159px;
	}
	.container__total-price {
			width: 114px;
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;        
			padding: 0 0 0 4px;
	}
	.cost{
			font-size: 24px;
			line-height: 29px;     
	}
	.total-cost {
			padding: 0 0 0 27px;
	}
	.cost{
			padding: 27px 36px 34px 0;
	}
}


@media (max-width: 320px) {
	
.calc {
	margin: 15px auto 19px auto;
}
.calc__container {
	max-width: 316px;
	border-radius: 12px;
}

.calc__menu {
	padding: 12px 8px 3px 4px;
	margin: 10px 0;
}

.calc__menu h4, .container p {
	font-size: 17px;
}
.calc__title {
	font-size: 12px;
	line-height: 15px;
}
.calc__title-1{
	width: 68px;
	padding: 0 0px 0px 2px;
}
.calc__title-2{
	width: 42px;
	padding: 0px 0 0px 2px;
	text-align: center;
}
.calc__title-3{
	width: 72px;
	padding: 0 0px 0 1px;
	text-align: center;
}
.calc__title-4{
	width: 66px;
	padding: 0 4px 0 0;
	text-align: center;
}
.container {
	padding: 8px 6px 0 4px;
	margin-bottom: 15px;
}
.container__title {
	width: 88px;
	font-size: 11px;
	line-height: 13px;
}
.container__price {
	padding: 0;
	font-size: 11px;
	line-height: 13px;
	width: 34px;
}
.container__inputs {
	padding: 0;
	font-size: 11px;
	line-height: 13px;
	width: 72px;
}
.container__button {
	width: 20px;
	height: 20px;
	font-size: 11px;
	line-height: 13px;
}

.container__input {
	padding: 3px 0;
	font-size: 11px;
	line-height: 13px;
	width: 32px;
}
.container__total-price {
	font-size: 11px;
	line-height: 13px;
	width: 66px;
	padding: 0px 6px 0px 1px;
}


.cost {
	text-align: right;
	line-height: 15px;
	padding: 23px 20px 17px 0;
	margin-right: 10px;
	font-size: 25px;
}

.total-cost{
	padding: 0 0 0 14px;
}
}